
        body {
            background-color: black;
            color: white;
        }

        .box {
            background-color: black border: 2px solid blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 200px;
        }

        .box1 {
            background-color: black;
            border: 0px solid white;

        }
        pre{ font-family: 'Open Sans', sans-serif;}

        .box1 img {
            height: 40px;
            width: 110px;
        }

        .box2 {
            background-color: black;
            border: 0px solid white;
            color: white;
            

            height: 50px;
            font-size: 25px;
           }

        .box2 br{align-items: center;}
        
        
        
        .box4 {
            background-color: black;
            margin-top: 100px;
            font-size: 20px;
        }

        .box3 {
            background-color: black border: 0px solid rgb(141, 125, 125);
            display: flex;
            flex-direction: row;
            margin-top: 5px;
        }

        .b1 {
            border: 0px solid white;
            width: 50px;
            height: 42px;
        }

        .box3 img {
            height: 47px;
            width: 50px;
        }

        .b2 {
            border: 0px solid white;
            width: 50px;
            height: 40px;
            margin-left: 20px;
        }

        .b3 {
            border: 0px solid white;
            width: 50px;
            height: 40px;
            background-color: black;
            margin-left: 20px;
        }

        .b4 {
            border: 0px solid white;
            width: 50px;
            height: 40px;
            background-color: black;
            margin-left: 20px;
        }

        .b3 img {
            background-color: black;
        }


        .first {
            border: 0px solid white;
            margin-top: 60px;

        }

        .first img {
            margin-left: 30px;
        }

        .last {
            padding-left: 76%;
            margin-top: 80px;
        }

        @media(max-width:466px) {
            .box {
                margin-left: 105px;
                margin-top: 450px;
            }

            .box2 {
                font-size: 15px;
                padding-left: 43px;
                margin-left: 40px;
            }
            .box1{margin-left:50px ;}

            .box4 {
                font-size: 15px;
                margin-top: 80px;
                margin-left: 50px;
            }
            .box3{margin-left: 50px;}

            .last {
                margin-top: 3450px;
            }
        }

        @media(max-width:966px) {
            .box {
                margin-left: 120px;
                margin-top:375px ;
            }

            .box2 {
                font-size: 25px;
            }

            .box4 {
                font-size: 20px;
            }

            .last {
                margin-top: 230px;
            }
        }
        
    </style>